@model ProyectoTest.Models.Producto
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        
        <span>  @Html.DisplayTextFor(model => model.oCategoria.Descripcion)</span> > <span>@Html.DisplayTextFor(model => model.oMarca.Descripcion)</span>
        
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="data:image/@Html.DisplayTextFor(model => model.extension);base64,@Html.DisplayTextFor(model => model.base64)" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">@Html.DisplayTextFor(model => model.oMarca.Descripcion)</div>
                <h1 class="display-5 fw-bolder">@Html.DisplayTextFor(model => model.Nombre)</h1>
                <div class="fs-5 mb-5">
                    <span>S/. @Html.DisplayTextFor(model => model.Precio)</span>
                </div>
                <p class="lead">@Html.DisplayTextFor(model => model.Descripcion)</p>
                <div class="d-flex">
                    <a href="@Url.Action("Index", "Tienda")" class="btn btn-danger w-50 text-center me-3">
                        <i class="fas fa-undo-alt"></i> Volver
                    </a>
                    @{
                        if (((ProyectoTest.Models.Usuario)Session["Usuario"]).EsAdministrador == false)
                        {
                            <button class="btn btn-success btn-agregar-carrito flex-shrink-0 w-50 " type="button" data-idproducto="@Html.DisplayTextFor(model => model.IdProducto)">
                                <i class="fas fa-cart-plus"></i> Agregar al carrito
                            </button>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <p id="idreconocer">Aqui va el slider</p>
    <hr />

</div>
@*Pruebas con el slider*@


<div class="row mt-5">


    <div class="py-2">
        <div class="container px-2 px-lg-2 mt-5">
            <div id="catalogo-productos" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            </div>
        </div>
    </div>

</div>

@*<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="//via.placeholder.com/500x400/31f?text=1" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="//via.placeholder.com/500x400/e66?text=2" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="//via.placeholder.com/500x400/7d2?text=3" class="d-block w-100" alt="...">
        </div>

        <div id="catalogo-productos">

        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@




@section scripts{
    
    <script>
        $(document).on('click', '.btn-detalle', function (event) {
            var json = $(this).data("elemento")
            window.location.href = "@Url.Action("Producto", "Tienda")" + "?idproducto=" + json.IdProducto;
        });

        $(document).ready(function () {
            listarProductos(0);
        })

        function listarProductos(_idcategoria) {
            jQuery.ajax({
                url: '@Url.Action("ListarProducto", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#catalogo-productos").html("");

                    $("#catalogo-productos").LoadingOverlay("hide");
                    if (data.data != null) {

                        $.each(data.data, function (i, item) {
                            //catalogo-productos
                            $("<div>").addClass("col mb-5").append(
                                $("<div>").addClass("card h-100").append(
                                    $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + item.extension + ";base64," + item.base64 }),
                                    //Product details
                                    $("<div>").addClass("card-body p-4").append(
                                        $("<div>").addClass("text-center").append(
                                            $("<h5>").addClass("fw-bolder").text(item.Nombre),
                                            "S/. " + item.Precio
                                        )
                                    ),
                                    //Product actions
                                    $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(
                                        $("<div>").addClass("d-grid d-md-grid gap-2 d-md-block align-items-center text-center").append(
                                            $("<button>").addClass("btn btn-outline-dark mt-auto btn-detalle").text("Ver Detalle").attr({ "data-elemento": JSON.stringify(item) }),
                                           @{
                                               if (((ProyectoTest.Models.Usuario)Session["Usuario"]).EsAdministrador == false) {
                                                    @:$("<button>").addClass("btn btn-outline-dark mt-auto btn-agregar-carrito").data("idproducto", item.IdProducto).text("Agregar al carrito")
                                               }
                                           }

                                        )
                                    )
                                )

                            ).appendTo("#catalogo-productos");
                        });
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $("#catalogo-productos").LoadingOverlay("show");
                },
            });
        }
    </script>
}